
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.projects-overview {
  a.card {
    max-width: 200px;
    padding: 30px 0;
    text-align: center;
    color: #000;
  }
  a:hover {
     text-decoration: none;
  }
}


//-------------------------------------------------------
//                    Create Project
//-------------------------------------------------------
#create-project {

  .participants-list {
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #adadad;
    min-height: 200px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        justify-content: space-between;

        p {
          margin: 0;
        }
      }

      ul {
        margin: 5px 0;
        padding: 0 0 0 20px;
      }
    }
  }

  .participant-button {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
  }

  #footerbar-project-create {
    justify-content: flex-end;
  }
}

//-------------------------------------------------------
//                    Single Project
//-------------------------------------------------------
#single-project {

  .participants {

    list-style: none;

    .roles, .roles ul {
      padding:  0 0 0 5px;
      list-style: none;
    }

  }

}
